.app {
  font-family: $font-stack;
}

.header {
  display: flex;
  justify-content: space-around;

  width: 100%;

  background: $header;
  @include card(1);
}

.header--item {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.acive {
  color: red;
}

.header--item__link {
  color: $header-font;
  text-decoration: none;
  padding: 1rem 20px;

  @include font-size(1);
}

.header--item__active {
  color: $contrast;
}

.header--item__link:hover {
  border: 1px solid $header-font;
  margin: -1px;
}

.body {
  display: flex;
  justify-content: center;
}