body {
	height: 100vh;
	background: $body-background;
}

.app {
	font-family: $font-stack;
}

.header {
	display: flex;

	background: $header;
	@include card(1, black);
}

.header--item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;

	color: white;
}

.header--item__link {
	color: $header-font;
	text-decoration: none;
	flex-grow: 1;
	flex-basis: 0;
	padding: 0.5rem;

	@include font-size(1);
}

.header--item__active {
	color: orange;
}

.header--item__link:hover {
	transition: 0.1s;
	opacity: 0.5;
}

.body {
	display: flex;
	justify-content: center;
}

.card {
  //max-width: 928px;
  background: white;
  
  padding: 1rem;
  //width: 100%;

  margin: 0 1rem 1rem;

  border-radius: 0.25rem;

  @include card(3, black);
}