
.results__seperatorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results__seperatorblock {
  flex-grow: 1;
  
  height: 1rem;
  margin: 1rem;
  width: 10px;
  
  background: $seperator;
  
  border-radius: 0.25rem;
}

.results__seperatorText {
  font-weight: bold;
  letter-spacing: 0.8px;
}

.results__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.results__stat {
  margin: 1rem;
  height: 70px;
  width: 70px;

  border-radius: 100%;
  border: solid 2px #27ae60;

  display: flex;
  justify-content: center;
  align-items: center;
}