
.results__seperatorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results__seperatorblock {
  flex-grow: 1;
  
  height: 1rem;
  margin: 1rem;
  width: 10px;
  
  background: $seperator;
  
  border-radius: 0.25rem;
}

.results__seperatorText {
  font-weight: bold;
  letter-spacing: 0.8px;
}

.results__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.results__stat {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
  border-radius: 100%;

  border: solid 2px $bubble;
  background-color: rgba(0,0,0,0);
}

.results__stat::before {
  content: attr(data-number);
  font-size: 1.5rem;
}

.results__stat::after {
  position: absolute;
  content: attr(data-type);
  text-transform: uppercase;
  background-color: $bubble;
  font-size: 70%;
  text-align: center;

  color: white;
  letter-spacing: 1px;
  white-space: nowrap;

  transform: translateY(42px);

  padding: 5px 15px;
  border-radius: 20px;
  margin: 0 auto;
}

.results__price {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $header;
  color: $header-font;

  width: 8rem;
  height: 10rem;

  @include card(1);
}

.results__price-header {
  text-align: center;
}

.results__price-cost {
  text-align: center;
  font-size: 1.5rem;
}