.card {
  //max-width: 928px;
  background: white;
  
  padding: 1rem;
  //width: 100%;

  margin: 0 1rem 1rem;

  border-radius: 0.25rem;

  @include card(1, black);
}

.form-wrapper {
  margin: 0 5rem;
  max-width: 960px;
  display: flex; 
  flex-direction: row;
}

.results__school-info {
  display: flex;
}

.half-col--public-private {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  border: 0;
  padding: 6px 15px 6px 15px;
  font-family: $font-stack;
}

.searchbar--search {
  @include card(3, black);

  margin-right: 1rem;
  border-radius: 0.5rem;
  width: 100%;

  padding-bottom: 5px;
  padding-top: 5px;
}

.searchbar--submit {
  @include card(3, black);

  color: $header-font;
  font-weight: bold;
  letter-spacing: 0.8px;
  width: 100px;
  padding: 1rem;

  flex-grow: 1;

  background: $searchbar-submit-backup;
  background: $searchbar-submit;

  -webkit-appearance: none;

  transition: 0.2s;
  border-radius: 0.5rem;
}

.searchbar--submit:hover {
  transform: translateY(-1px);
  @include card(4, black);
  cursor: pointer; 
}

.search-wrapper {
  max-width: 960px;
  width: 100%;
}