$font-stack: -apple-system, 
	BlinkMacSystemFont, 
	"Segoe UI", 
	Roboto, 
	Oxygen,
	Ubuntu,
	Cantarell,
	"Open Sans",
	"Helvetica Neue", 
	sans-serif;

$header: #2E3553;
$header-font: #FCFCFC;

$body-background: #2E3553;
$body-background: linear-gradient(37deg, #2E3553 0%, #5866A1 100%);


$seperator: #D4335E;
$seperator: linear-gradient(to left, #D4335E, #E63946);

$searchbar-submit-backup: #EC8865;
$searchbar-submit: linear-gradient(to left, #EC8865, #F5A563);

$bubble: #27ae60;

$price-card: #A8DADC;

$color4: #457D9B;

$school-type: linear-gradient(to left, #A8DADC, #457D9B);