/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.5rem; }

p {
  font-size: 1rem; }

.margin-spacer {
  margin-bottom: 1rem; }

.app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-linear-gradient(left, #6a3093, #a044ff);
  background: linear-gradient(to right, #6a3093, #a044ff);
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.header--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  color: white; }

.header--item__link {
  color: #FCFCFC;
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  padding: 0.5rem;
  font-size: 1rem; }

.header--item__active {
  color: orange; }

.header--item__link:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  opacity: 0.5; }

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.card {
  padding: 1rem;
  margin: 0 1rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.searchbar {
  border: 0;
  padding: 6px 15px 6px 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.searchbar--search {
  border-radius: 0;
  border-radius: 0.25rem 0 0 0.25rem;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  border-left: solid 1px grey;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px; }

.searchbar--submit {
  color: #FCFCFC;
  font-weight: bold;
  letter-spacing: 0.8px;
  width: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #EC8865;
  background: -webkit-linear-gradient(right, #EC8865, #F5A563);
  background: linear-gradient(to left, #EC8865, #F5A563);
  -webkit-appearance: none;
  border-radius: 0 0.25rem 0.25rem 0; }

.searchbar--submit:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #ec8865; }

.search-wrapper {
  max-width: 960px;
  width: 100%; }

.results__seperatorWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.results__seperatorblock {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1rem;
  margin: 1rem;
  width: 10px;
  background: -webkit-linear-gradient(right, #D4335E, #E63946);
  background: linear-gradient(to left, #D4335E, #E63946);
  border-radius: 0.25rem; }

.results__seperatorText {
  font-weight: bold;
  letter-spacing: 0.8px; }

.results__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.results__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
  border-radius: 100%;
  border: solid 2px #27ae60;
  background-color: transparent; }

.results__stat::before {
  content: attr(data-number);
  font-size: 1.5rem; }

.results__stat::after {
  position: absolute;
  content: attr(data-type);
  text-transform: uppercase;
  background-color: #27ae60;
  font-size: 70%;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  white-space: nowrap;
  -webkit-transform: translateY(42px);
          transform: translateY(42px);
  padding: 5px 15px;
  border-radius: 20px;
  margin: 0 auto; }

.results__price {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: linear-gradient(to right, #6a3093, #a044ff);
  color: #FCFCFC;
  width: 8rem;
  height: 10rem;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.results__price-header {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.results__price-cost {
  text-align: center;
  font-size: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

/*# sourceMappingURL=src/css/maps/styles.css.map */
